@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Oswald:wght@700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@700&display=swap');

:root{
    --backgroud-color: linear-gradient(134deg, #35A29F 0%, #0B666A 100%);
    --button-color: #35A29F;
    --frame-color: #0B666A;
    font-size: 16px;
}
body{
    width: 100%;
    padding: 0%;
    margin: 0%;
    background: var(--backgroud-color);
    font-family: 'Poppins';
    overflow-x: hidden;
}
.navagation-tablet{
    display: none;
} 
.navagation{
    width: 100%;
    position: fixed;
    z-index: 10000;
    display: grid;
    /* display: none; */
    grid-template-columns: repeat(12,1fr);
    bottom: 0%;
    background: var(--frame-color);
}
.navagation li{
    padding: 0.6rem 0;
    list-style: none;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 10;
}
.navagation li a i{
    font-size: 2.3rem;
    color: #fff;
}
.navagation li:nth-child(1){
    grid-column-start: 2;
}
.navagation li:nth-child(2){
    grid-column-start: 5;
}
.navagation li:nth-child(3){
    grid-column-start: 8;
}
.navagation li:nth-child(4){
    grid-column-start: 11;
}

.home{
    display: block;
    width: 100%;
    margin-bottom: 2rem;
}
.home main{
    z-index: 100;
}
.home .vector_header{
    position: relative;
    width: 100%;
    z-index: 100;
}
.home .img_header{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    position: relative;
    z-index: 100;
}
.home .img_header img{
    width: 78%;
}
.home .container{
    display: block;
    max-width: 100%;
    overflow-x: hidden;
}
.home .container .logo_header{
    display: grid;
    grid-template-columns: repeat(12,1fr);
}
.home .container .logo_header_contain{
    position: relative;
    grid-column-start: 5;
}
.home .container .logo_header_contain h1{
    font-size: 5.25rem;
    margin: 0%;
    color: #FFFFFF;
    opacity: 20%;
    margin-top: 1rem;
    font-weight: 900;
    margin-bottom: -2.9rem;
}
.home .container .logo_header_contain span{
    font-size: 1.3125rem;
    font-weight: 800;
    color: #fff;
    padding-left: 0.2rem;
}
.home .container .content_header{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
}
.home .container .content_header p{
    grid-column-start: 2;
    color:#ffffffb1;
    font-size: 0.93rem;
}

.home .container .infor_header{
    margin-top: 1.15rem;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(12,1fr);
    justify-content: center;
    margin-bottom: 3rem;
    margin-left: 1.6rem;
    align-items: center;
}
.home .container .infor_header p{
    width: 6.1rem;
    color: #ffffffbc;
    font-weight: 600;
    font-size: 0.9rem;
    
}
.home .container .infor_header .minus_infor{
    display: none;
}
.home .container .infor_header i{
    font-size: 1.9rem;
    color: #ffffffc7;
}.home .container .infor_header p:nth-child(1){
    grid-column-start: 1;
}
.home .container .infor_header i:nth-child(3){
    grid-column-start: 4;
}
.home .container .infor_header i:nth-child(4){
    grid-column-start: 6;
}
.home .container .infor_header i:nth-child(5){
    grid-column-start: 8;
}
.home .container .infor_header i:nth-child(6){
    grid-column-start: 10;
}
.home .vector-deco1{
    position: absolute;
    top:2rem;
    right:0;
    z-index: 1;
    width: 7.125rem;
    height: 29rem;
}
.home .vector-deco2{
    position: absolute;
    top:27rem;
    left: 0;
    z-index: 1;
    width: 14.25rem;
    height: 14.4375rem;
}
/* * responsive* */
@media screen and (max-width: 350px){
    :root{
        font-size: 14px;
    }
}


/* About */

.about{
    width:100%;
    display: block;
    padding-top: 2rem;
    margin-bottom: 2.3rem;
    position: relative;
}
.about .about_head{
    width: 100%;
    display: flex;
    justify-content: center;
}
.about .about_head .head_contain{
    position: relative;
   
}
.about .about_head .head_contain .img_about_head{
    position: relative;
    z-index: 1000;
    width: 11.625rem;
    height: 16.3125rem;
}
.about .about_head .head_contain .background_ava{
    position: absolute;
    z-index: 1;
    left: -18%;
    bottom: -20%;
    width: 16.76413rem;
    height: auto;
}
.about .about_head .head_contain  .about_head_rating{
    position: absolute;
    width: 11.125rem;
    height: 3.5625rem;
    border-radius: 0.625rem;
    background: #0B666A;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.12);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    bottom: -2rem;
    left:1.8rem;
}
.about .about_head_rating svg{
   fill: #EED682;
}

.about .about_logo{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    margin-top: 2.4rem;
}
.about .about_logo .logo_header_contain{
    position: relative;
    grid-column-start: 6;
}
.about .about_logo .logo_header_contain h1{
    font-size: 5.25rem;
    margin: 0%;
    color: #FFFFFF;
    opacity: 20%;
    margin-top: 1rem;
    font-weight: 900;
    margin-bottom: -2.78rem;
}
.about .about_logo .logo_header_contain span{
    font-size: 1.3125rem;
    font-weight: 800;
    color: #fff;
    padding-left: 2rem;
}
.about .about_contain{
    display:grid;
    grid-template-columns: 1fr 10fr 1fr;
    padding-top: 1.31rem;
    position: relative;
    z-index: 1000;
}
.about .about_contain p{
    grid-column-start: 2;
    font-size: 0.93rem;
    font-weight: 300;
    line-height: 127.523%; /* 1.03613rem */
    letter-spacing: 0.02031rem;
    color:#ffffffb1;
    font-size: 0.93rem;
}
.about .about_button{
    display:grid;
    grid-template-columns: 1fr 10fr 1fr;
    padding-top: 0.81rem;
    padding-bottom: 2.31rem;
    justify-content: center;
    width: 100%;
    
}
.about .about_button .button{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-start: 2;
    grid-column-end: 4;
    width: 91%;
    height: 2.6875rem;
    border: none;
    border-radius: 0.3125rem;
    font-size: 0.93rem;
    font-family: "Poppins";
    font-weight:500;
    background: var(--button-color);
    color: #fff;
}
.about .vector-deco1{
    position: absolute;
    top:10.5rem;
    left:0;
    z-index: 1;
    width: 7.125rem;
    height: 29rem;
    transform: rotateY(180deg);
    opacity: 50%;
}
.about .vector-deco2{
    width:10rem;
    height: 10rem;
    background-color: #ffffff;
    position: absolute;
    top:-2rem;
    right:-5rem;
    border-radius: 50%;
    filter: blur(5rem);
    opacity: 60%;
}
@media screen and (min-width: 500px){
  
    .navagation{
       display: none;
    }
    .navagation-tablet{
        display: grid;
        width: 100%;
        position: fixed;
        z-index: 10000;
        grid-template-columns: repeat(12,1fr);
        column-gap: 1.52rem;
    }
    .navagation-tablet-logo{
        display: none;
    }
    .navagation-tablet li{
        padding: 1rem 0;
        list-style: none;
        display: flex;
        justify-content: center;
        position: relative;
        z-index: 10;
        align-self: center;
    }
    .navagation-tablet li a{
        font-size: 1rem;
        color: #fff;
        font-weight: 400;
        text-decoration: none;
        line-height: 118.023%;
    }
    .navagation-tablet li:nth-child(6){
        grid-column: 10/13;  
    } 
    .navagation-tablet li:nth-child(6) button{
        width: 5.4375rem;
        height: 1.8rem;
        border-radius: 0.3125rem;
        background: #0B666A;
        border: none;
        color: #fff;
        font-size: 1rem;
    }
    .navagation-tablet li:nth-child(5){
        grid-column: 8/10;
    }
    .navagation-tablet li:nth-child(4){
        grid-column: 6/8;
    }
    .navagation-tablet li:nth-child(3){
        grid-column: 4/6;
    }
    .navagation-tablet li:nth-child(2){
        grid-column: 2/4;
    }
    .home .vector_header{
        display: none;
    }
    .home{
        padding-top: 7rem;
    }
    .home .container{
        padding-left: 0;
    }
    .home .container .logo_header_contain{
        grid-column-start: 5;
        
    }
    .home .container .logo_header_contain h1{
        font-size: 6.25rem;
        margin-bottom: -3.37rem;
    }
    .home .container .logo_header_contain span{
        font-size: 1.65rem;
        
    }
    .home .img_header img{
        width: 70%;
    }
    .home .container .content_header{
        display: grid;
        grid-template-columns: 2fr 8fr 2fr;
    }
    .home .container .content_header p{
        grid-column-start: 2;
        font-size: 1.1rem;
        margin-right: 0;
    }
    .home .container .infor_header{
        margin-left: 0;
        column-gap: 1.5rem;
    }
    .home .container .infor_header p{
        font-size: 1.2rem;
        width: 8.1rem;
    }
   
    .home .container .infor_header p:nth-child(1){
        grid-column-start: 3;
    }
    .home .container .infor_header i:nth-child(2){
        grid-column-start: 5;
        display:flex;
        font-size: 1.9rem;
        color: #ffffffc7;
    }
    .home .container .infor_header i:nth-child(3){
        grid-column-start: 7;
    }
    .home .container .infor_header i:nth-child(4){
        grid-column-start: 8;
    }
    .home .container .infor_header i:nth-child(5){
        grid-column-start: 9;
    }
    .home .container .infor_header i:nth-child(6){
        grid-column-start: 10;
    }
    .about .about_head .head_contain .img_about_head{
        width: 14.5rem;
        height: auto;
    }
    .about .about_head .head_contain .background_ava{
        width: 21.6413rem;
        height: auto;
    }
    .about .about_head .head_contain  .about_head_rating{
        width: 12.125rem;
        height: 3.5625rem;
        left: 2.8rem;
    }
    .about .about_head .head_contain  .about_head_rating svg{
        margin: 0 0.2rem;
    }
    .about .about_logo .logo_header_contain h1{
        font-size: 6.25rem;
        margin-bottom: -3.4rem;
    }
    .about .about_logo .logo_header_contain span{
        font-size: 1.65rem;
    }
    .about .about_contain p{
        font-size: 1.1rem;
    }
    /**/
    @media screen and (min-width: 800px){
        :root{
            font-family: "Poppins";
            font-size: 16px;
        }
        .navagation-tablet{
            column-gap: 2.5rem;
        }
        .navagation-tablet li:nth-child(6){
            grid-column: 10/13;  
        } 
        .navagation-tablet li:nth-child(5){
            grid-column: 9;
        }
        .navagation-tablet li:nth-child(4){
            grid-column: 8;
        }
        .navagation-tablet li:nth-child(3){
            grid-column: 7;
        }
        .navagation-tablet li:nth-child(2){
            grid-column: 6;
        }
        .navagation-tablet-logo{
            display: flex;
            font-size: 1.15rem;
            font-weight: 600;
            width: 7rem;
            color: #fff;
            grid-column: 2;
            align-items: center;
        } 
        @media screen and (min-width:1000px){
            :root{
                font-size: 18px;
            }
        }
        @media screen and (min-width:1400px){
            :root{
                font-size: 22px;
            }
            .navagation-tablet li:nth-child(6){
                grid-column: 11/13;  
            } 
            .navagation-tablet li:nth-child(5){
                grid-column: 10;
            }
            .navagation-tablet li:nth-child(4){
                grid-column: 9;
            }
            .navagation-tablet li:nth-child(3){
                grid-column: 8;
            }
            .navagation-tablet li:nth-child(2){
                grid-column: 7;
            }
            .navagation-tablet-logo{
                grid-column: 2/4;
            }
        }
        @media screen and (min-width:2000px){
            :root{
                font-size: 24px;
            }
        }
    }
}
